 /* .email{
    margin-left: 300px;
   margin-bottom: 30px;
} 
 .button{
  margin-left: 30px; 
}   */
/* .parent{
   box-sizing: 5px 5px 10px;
} */
/* .contacts{
   padding-top: 180px;
} */

.no-hover {
  background-color: #28a745 !important;
  color: white !important;
  border: none !important;
  box-shadow: none !important;
}

.no-hover:hover {
  background-color: #28a745 !important;
}