/* .project{
    padding-top: 100px;
} */

/* .projects{
    margin-left: 200px;
    padding-top: 150px;
    color: aquamarine;
 font-size: xx-large;
}
.large{
  
    margin-left: 600px;
    padding-top: 150px;
    font-size: xx-large;
    color: coral;
} */